<!DOCTYPE html>
<html lang="en" ng-app="task2App">
<head> 
	<meta charset="utf-8">
	<title>Classwork - task2 (lesson12)</title>
	<style>
		.select label {
			margin-left: 40px;
			margin-right: 5px;
		}


	</style>
	<link href="../../libraries/bootstrap.css" rel="stylesheet" />
	<link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />
	<script src="../../libraries/angular.js"></script>
	<script>
		'use strict';

		angular.module('task2App', [])
		.controller('mainCtrl', function($scope) {
			$scope.items = [
				{ name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
				{ name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
				{ name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
				{ name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

			$scope.show = {name: true, price: true, category:true, count: true, tax: true, expiration: true};
		});


	</script>
</head>
<body ng-controller="mainCtrl">
<table class="table">
	<thead>
	<tr>
		<th>name <input type="checkbox" ng-model="show.name"></th>
		<th>price <input type="checkbox" ng-model="show.price"></th>
		<th>category <input type="checkbox" ng-model="show.category"></th>
		<th>count <input type="checkbox" ng-model="show.count"></th>
		<th>tax <input type="checkbox" ng-model="show.tax"></th>
		<th>expiration <input type="checkbox" ng-model="show.expiration"></th>
	</tr>
	</thead>
	<tr ng-repeat="item in items">
		<td ng-switch on="show.name"><span ng-switch-when="true">{{item.name}}</span></td>
		<td ng-switch on="show.price"><span ng-switch-when="true">{{item.price}}</span></td>
		<td ng-switch on="show.category"><span ng-switch-when="true">{{item.category}}</span></td>
		<td ng-switch on="show.count"><span ng-switch-when="true">{{item.count}}</span></td>
		<td ng-switch on="show.tax"><span ng-switch-when="true">{{item.tax}}</span></td>
		<td ng-switch on="show.expiration"><span ng-switch-when="true">{{item.expiration}}</span></td>
	</tr>
</table>
</body>
</html>