@import 'bootstrap.css';

.glyphicon {
    cursor: pointer;
}

ul {
    margin-top: 20px;
}

.load-btn-container {
    padding: 30px 0;
}

ul.nav {
    margin: 0;
    text-align: center;
}

ul.nav > li {
    display: inline-block;
}