<!DOCTYPE html>
<html lang="en" ng-app="task2App">
<head> 
	<meta charset="utf-8">
	<title>Classwork - task2 (lesson15)</title>
	<style>
		.stopwatch {
			width: 50%;
			margin: 50px auto;
			text-align: center;
		}
	</style>
	<link href="../../libraries/bootstrap.css" rel="stylesheet" />
	<link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />
	<script src="../../libraries/angular.js"></script>
	<script>
		'use strict';

		var app = angular.module('task2App', []);

		app.controller('mainCtrl', ['$scope', '$interval', function($scope, $interval) {
			$scope.time = 0;

			var counter;

			$scope.startCounter = function () {

				if (angular.isDefined(counter)) {
					$scope.stopCounter();
					$scope.time = 0;
				}

				counter = $interval(function () {
					$scope.time++;
				}, 1000);

			};

			$scope.stopCounter = function () {

				$interval.cancel(counter);
				counter = undefined;

			};


		}]);

	</script>
</head>
<body ng-controller="mainCtrl">
	<div class="stopwatch">
		<h1>{{time}}</h1>
		<button class="btn btn-default" ng-click="startCounter()">Start</button>
		<button class="btn btn-default" ng-click="stopCounter()">Stop</button>
	</div>
</body>
</html>