<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet "/>
    <title>lesson 32 task 3</title>
</head>
<body>
    <div class="panel well">
        <h3>
            <a href="/login">Log in</a>
                |
            <a href="/signUp">Sign up</a>
        </h3>
		<h3>Current session user: <%= user %></h3>
        <br />
    </div>
</body>
</html>